body {
    font-family: muli,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

code {
    font-size: 0.75em;
}

.warning {
	background-color: #fff4f3;
	border-left: 5px solid #ff6058;
	padding: 0.5em;
}

.note {
	background-color: #E9F2FA;
	border-left: 5px solid #297FD5;
	padding: 0.5em;
}

.chroma {
    background-color: unset;
}
