.intro, row {
  font-size: 1.25em;
  line-height: 1.3em;
  font-weight: 300;
  max-width: 1020px;
  page-break-inside: avoid; 
}
.intro a {
    font-weight: bolder; 
}

h1 + .intro {
  max-width: 100%; }

.callout {
  width: 266.66667px;
  font-weight: 500;
  line-height: 1.5em;
  padding: 0 15px;
  page-break-inside: avoid;
  text-align: left;
  float: right;
  margin: 8px -40px 8px 1em;
  border-left: #d2dcdf solid thin; }

.banner {
  padding: 1em;
  background-color: #eaefef;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em; }

.footnote {
  font-size: 0.85em;
  page-break-inside: avoid;
  line-height: 1.6em;
  margin-top: 0px; }

.detail {
  font-size: 0.85em;
  page-break-inside: avoid;
  line-height: 1.6em; }

.bio {
  font-size: 0.85em;
  page-break-inside: avoid;
  line-height: 1.6em;
  color: #666666; }



  h1 + .subtitle {
  font-size: 0.75em;
  line-height: 1.2em;
  text-align: left;
  max-width: 16em;
  display: inline-block;
  margin-left: 8px; }

/* lists -------------- */
ul {
  list-style-type: disc;
  margin: 8px 0;
  padding-left: 1em; }

li {
  margin: 8px 0; }

p + ul, div + ul {
  margin: -8px 0 8px 0; }

/* compact lists */
ul.compact li {
  margin: 0; 
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "swsh=1,cswh=1,liga=1,kern=1";
  -ms-font-feature-settings: "swsh" 1, "cswh" 1, "liga" 1, "kern" 1;
  -webkit-hyphens: auto;
  background-color: #fff;
  color: #333;
  max-width: 1020px;
  padding: 0 1em;
  margin: 72px auto; }


  .wide_only {
  display: inline-block; }

  .left {
  float: left;
  margin-right: 1em;
}

  h1 {
  font-size: 3em;
  display: inline-block; }

  h2 {
  font-size: 1.5em; 
}

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 0.95em; }

h5 {
  font-size: 0.85em; }

.post_date{
  color: #D5D4D4;
  font-style: italic;
  margin: 5px 0;
}
.external{
  display: inline-block;
}
i{
  color: #4F76AC;
}